<import from="./status-item.html"></import>
<div class="py-4 md:flex md:items-center md:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">${current.name}</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <button type="button" click.dispatch="{ type: 'create new status matrix' }" class="ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create new</button>
    </div>
</div> 

<ul role="list" class="mt-3 grid grid-cols-5 gap-5 sm:grid-cols-5 sm:gap-6 lg:grid-cols-5">
  <li repeat.for="status of current.statuses" click.trigger="changeStatus($index)">
    <status-item  status.bind="status" 
      index.bind="$index" 
      change-status.bind="() => changeStatus($index)"></status-item>
  </li>
</ul>
